*{
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color:#edf2fc;
  --secondary-color:#212121;

  
}

.dark-theme{
  --primary-color:#000106;
  --secondary-color:#fff;

}

.hero{
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  position: relative;
}

nav{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size:18px;
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: 600;
  transition: 0.3s;
}

.logo:hover{

  font-size: 22px;
  color: rgb(41, 209, 119);
  font-weight: 600;
}
/* nav{
  border-bottom: solid 2px var(--secondary-color);

} */
nav ul{
  flex: 1;
  text-align: right;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color:var(--secondary-color);
  transition: 0.3s;
  font-size: 18px;
}

nav ul li a:hover{
  color: rgb(41, 209, 119);
  font-size: 20px;
}

#icon{
  width: 30px;
  cursor:pointer;
  padding-left: 4rem;
  transition: 0.3s;
}

#icon:hover{
  width: 35px;
 
}

.info{
  margin-left: 8%;
  margin-top: 9%;
}

.info h1{
  font-size: 70px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.info h1 span{
  color: rgb(41, 209, 119);
  font-weight: 600;
  transition: 0.3s;
}

.info h1 span:hover{
  font-size: 80px;
}

.info p{
  color: var(--secondary-color);
  line-height: 40px;
  font-size: 1.5rem;
}

.info p span{
  font-size: 1.8rem;
  font-weight: 600;
}

.sft{
  color: rgb(41, 209, 119);
  transition: 0.3s;
}

.sft:hover{
  font-size: 2rem;
}

.info a{
  background:rgb(41, 209, 119);
  padding: 10px 18px;
  text-decoration: none;
  color:var(--secondary-color);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 600;
  font-size: 1.3rem;
  
}

.info a:hover{
  background-color:  rgb(41, 209, 119);
  color:var(--primary-color);
  font-weight: 600;
}

.img-box{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s ,left 1s;

}

.img-box:hover .back-img{
  bottom: 40px;
}

.img-box:hover .main-img{
  left: 54%;
}

.social-links{
  margin-left: 8%;
  
  
}

.social-links a{
  font-size: 3.5rem;
  color:var(--secondary-color);
  padding: 4.5px;
  transition: 0.3s;

}

.social-links a:hover{
  font-size: 4rem;
  color: rgb(41, 209, 119);
  padding: 4.5px;
}